@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    font-family: "Merriweather", serif;
}


.bannar-container {
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url('../images/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 16px;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
}
.bannar-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;

}
.bannar-text p,h1{
    color: white;
}
bannar-text,p{
    font-size: 32px;
}
bannar-text,h1{
    font-size: 72px;
    text-align: center;
}


/* Section comment */

.section-container{
    width: 802px;
    height: 806px;
    margin: 0 auto;
    margin-top: 92px;
    
}
.second-title h2{
    color: rgb(255, 0, 0);
    font width:700px;
    font-size: 88px;
}
.second-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.second-title p{
    color: rgb(255, 0, 0);
    font width:500px;
    font-size: 24px;
}
.second-title h4{
    color: rgb(67, 10, 10);
    font width:700px;
    font-size: 48px;
}
image-container{
    width: 802px;
    height: 500px;
}
.image-container img{
    height: 100%;
    weight:100% ;
}


